{% extends "index.html" %}
{% block title %}Удаление должности {% endblock title %}

{% block content%}

<form action="" method="post">
    {% csrf_token %}
    <p> Вы точно хотете удалить данную должность "{{object.name}}"?</p>
    <a href="{% url 'position_list_url'%}">
        <button type="button" class="btn btn-outline-secondary" style="width:100px">Нет</button>
    </a>
    <button type="submit" class="btn btn-outline-secondary" style="width:100px">Да</button>
</form>

{% endblock content %}